<settings>
        <!-- customization settings -->
    <category label="Customization">
      <setting label="Display" type="lsep"/>
      <setting label="Enable Settings Context item" type="bool" id="settings_context" default="false"/>
      <setting label="Enable Trailer Context item" type="bool" id="trailer_context" default="true"/>
      <setting label="Hide Help Videos" type="bool" id="hide_help" default="false"/>
      <setting label="32505" type="lsep"/>
      <setting label="32506" type="select"
               values="system|bg|cs|da|de|el|en|es|fi|fr|he|hr|hu|it|ja|ko|nl|no|pl|pt|ru|sl|sv|tr|zh"
               id="language_id" default="system"/>
      <setting label="32507" type="lsep"/>
      <setting label="30717" type="bool" id="metadata" default="true"/>
      <setting label="Disable metadata Dialog" type="bool" id="disable_metadata_dialog" default="false"/>
      <setting label="32508" type="select" values="Trakt|TMDB" id="movie_metadata_provider" default="Trakt"/>
      <setting label="32509" type="select" values="Trakt|TVDB" id="tv_metadata_provider" default="Trakt"/>
      <setting label="32510" type="lsep"/>
      <setting label="32511" type="select" values="BOTH|SD|HD" id="default_link" default="BOTH"/>
      <setting label="32514" type="lsep"/>
      <setting label="32515" type="bool" id="enable_gifs" default="false" />
    </category>

    <!-- main user settings -->
    <category label="30715">
      <setting label="30718" type="lsep"/>
      <setting label="30719" type="action" option="close"
               action="RunPlugin(plugin://plugin.video.NetStreams/?mode=clearCache)"/>
      <setting label="30733" type="lsep"/>
      <!-- scraper settings -->
      <setting label="30734" type="action" option="close"
               action="RunPlugin(plugin://plugin.video.NetStreams/?mode=ScraperSettings)"/>
      <setting id="use_link_dialog" label="30744" type="bool" default="true" />
      <setting id="link_fallthrough" label="30745" type="bool"	default="true" visible="eq(-1,true)"/>
      <setting label="30741" type="lsep"/>
      <setting label="30742" type="action" option="close"
               action="RunPlugin(plugin://plugin.video.NetStreams/?mode=ResolverSettings)"/>
      <!-- filtering settings -->
      <setting label="30735" type="lsep"/>
      <setting id="allow_openload" label="30736" type="bool" default="false"/>
      <setting id="allow_the_video_me" label="30737" type="bool" default="false"/>
      <setting id="allow_vidup_me" label="30738" type="bool" default="false"/>
      <setting id="allow_debrid" label="30743" type="bool" default="false"/>
      <setting label="30760" type="lsep"/>
      <setting id="disable_messages" label="30767" type="bool" default="false"/>
      <setting id="enable_offensive" label="30761" type="bool" default="false" enable="eq(-1,false)"/>
      <setting label="queueing Options" type="lsep"/>
      <setting id="include_watched_queue" label="Include Watched In Collection Queueing" type="bool" default="false"/>
      <setting id="autostart_queue" label="Auto start queue if empty" type="bool" default="true"/>
    </category>

    <!-- Third party install options -->
    <!--	<category label="30740">
            <setting id="installaddons"			label="30766"   type="bool"		default="false"		visible="true"/>
            <setting label="30762"	type="lsep" />
            <setting label="30763"	type="lsep" />
            <setting id="installrepos"			label="30757"   type="bool"		default="false"		visible="eq(-3,true)"/>
            <setting label="30765"	type="lsep"	visible="eq(-4,true)"/>
        </category>-->

    <!-- login - future features for playlisters -->
    <category label="30770">
      <!-- debugging and developer options -->
      <setting id="debug" type="bool" label="30758" default="false" visible="true"/>
      <setting id="first_run" label="first run" type="bool" default="false" visible="false"/>
      <setting label="Cache Location" id="cache_folder" type="folder" default="special://profile/addon_data/plugin.video.NetStreams/"/>
      <setting id="TRAKT_ACCES_TOKEN" label="" type="text" visible="false"/>
      <setting id="TRAKT_EXPIRES_AT" label="" type="text" visible="false"/>
      <setting id="TRAKT_REFRESH_TOKEN" label="" type="text" visible="false"/>
    </category>


</settings>
